/*
 * Copyright (c) 2019.  7Summits Inc.
 */

 .THIS {
    position:relative;
}

.THIS .selections{
    padding:3px;
    min-height: 35px;
}

.THIS .selections+.options{
    position: absolute;
    z-index:100;
    background: #FFF;
    width: 100%;
    box-shadow: 0 0 10px #DDD;
    border-radius:2px;
}

.THIS .options li{
    padding: 0 5px;
}
.THIS .options li:hover{
    background: #F1F1F1;
}

.THIS .overlay{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:90;
}

.THIS .w-100 {
    width : 100%;
}

.THIS .m_zero {
    margin-bottom: 0px !important;
}

.THIS .options li {
    padding: .5rem;
}